/* Estilos generales */
body {
    font-family: "Heebo", sans-serif;
    text-align: center;
    background-color: #ebccee;
}

hr {
    width: 500px;
}

#errors {
    color: coral;
}

#board {
    width: 450px;
    height: 450px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.tile {
    width: 48px; 
    height: 48px;
    border: 1px solid gray;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

#digits {
    width: 450px;
    height: 50px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.number {
    width: 44px; 
    height: 44px;
    border: 1px solid black;
    margin: 2px;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

.number-selected {
    background-color: gray;
}

.tile-start {
    background-color: #eedff0;
}

.horizontal-line {
    border-bottom: 1px solid black;
}

.vertical-line {
    border-right: 1px solid black;
}

#check {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

/* Estilos para el leaderboard y la lista de tiempos */
#leaderboard {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#times-list {
    list-style-type: none; /* Sin viñetas */
    padding: 0; /* Sin relleno */
    margin: 0; /* Sin margen */
    text-align: left; /* Alineación a la izquierda para el contenido */
    display: block; /* Asegura que la lista sea un bloque vertical */
}

#times-list li {
    display: block; /* Los elementos de la lista se muestran en bloque (verticalmente) */
    margin: 5px 0; /* Espacio vertical entre los elementos de la lista */
    font-size: 18px;
}

/* Estilos de navegación */
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(176, 129, 219);
    padding: 10px;
    margin-bottom: 20px; /* Añade espacio debajo del nav para evitar superposición */
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex; /* Asegura que el ul en la navegación sea horizontal */
}

nav ul li {
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: white;
}

/* Estilo adicional para la imagen en navegación */
nav .imgDPCL {
    width: 200px;
    height: auto;
}
